In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt
import seaborn as sns
import requests
from bs4 import BeautifulSoup
import re

## Data scraping from the website

In [2]:
movie_name = []
year = []
time = []
ratings_=[]
metascore = []
votes = []
gross = []
Release=[]
movie_type=[]
rate_=[]
for i in range(1,700,100):
    URL = 'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start='+str(i)+'&ref_=adv_nxt'
    page = requests.get(URL)
    pagecontent = page.text
    soup = BeautifulSoup(pagecontent)
    list_1 = soup.find_all('div', class_='lister-item-content')
    
    
    for store in list_1:
        year_of_release =store.find('h3', class_='lister-item-header')
        if year_of_release is None:
            year.append(np.NaN)
        else:
            year.append(year_of_release.text)
            
        ratings=store.find('span',class_='runtime')
        if ratings is None:
            ratings_.append(np.NaN)
        else:
            ratings_.append(ratings.text)
            
        meta=store.find('div',class_='inline-block ratings-metascore')
        if meta is None:
            metascore.append(np.NaN)
        else:
            metascore.append(meta.text)
        
        vote=store.find('p',class_='sort-num_votes-visible')
        if vote is None:
            votes.append(np.NaN)
        else:
            votes.append(vote.text)
            
        year_=store.find('span',class_='lister-item-year text-muted unbold')
        if year_ is None:
            Release.append(np.NaN)
        else:
            Release.append(year_.text)
            
        type_=store.find('span',class_='genre')
        if type_ is None:
            movie_type.append(np.NaN)
        else:
            movie_type.append(type_.text)
        
        rate=store.find('div',class_='inline-block ratings-imdb-rating')
        if rate is None:
            rate_.append(np.NaN)
        else:
            rate_.append(rate.text)

In [3]:
len(year)

700

In [4]:
movie= pd.DataFrame({'Movie_Name': year,'Time_mnts':ratings_,'Metascore':metascore,'Source':votes,'Release_Year':Release,'Movie_type':movie_type,'Ratings':rate_})

### Raw data

In [5]:
movie

,Movie_Name,Time_mnts,Metascore,Source,Release_Year,Movie_type,Ratings
0,\n1.\nThe Shawshank Redemption\n(1994)\n,142 min,\n81 \n Metascore\n,"\nVotes:\n2,638,889\n| Gross:\n$28.34M\n| Top ...",(1994),\nDrama,\n\n9.3\n
1,\n2.\nThe Godfather\n(1972)\n,175 min,\n100 \n Metascore\n,"\nVotes:\n1,829,116\n| Gross:\n$134.97M\n| Top...",(1972),"\nCrime, Drama",\n\n9.2\n
2,\n3.\nRocketry: The Nambi Effect\n(2022)\n,157 min,NaN,"\nVotes:\n43,780\n",(2022),"\nBiography, Drama",\n\n9.0\n
3,\n4.\nThe Dark Knight\n(2008)\n,152 min,\n84 \n Metascore\n,"\nVotes:\n2,610,455\n| Gross:\n$534.86M\n| Top...",(2008),"\nAction, Crime, Drama",\n\n9.0\n
4,\n5.\nThe Lord of the Rings: The Return of the...,201 min,\n94 \n Metascore\n,"\nVotes:\n1,814,282\n| Gross:\n$377.85M\n| Top...",(2003),"\nAction, Adventure, Drama",\n\n9.0\n
...,...,...,...,...,...,...,...
695,\n696.\nBack to the Future Part II\n(1989)\n,108 min,\n57 \n Metascore\n,"\nVotes:\n526,960\n| Gross:\n$118.50M\n",(1989),"\nAdventure, Comedy, Sci-Fi",\n\n7.8\n
696,\n697.\nMississippi Burning\n(1988)\n,128 min,\n65 \n Metascore\n,"\nVotes:\n100,717\n| Gross:\n$34.60M\n",(1988),"\nCrime, Drama, History",\n\n7.8\n
697,\n698.\nPredator\n(1987)\n,107 min,\n46 \n Metascore\n,"\nVotes:\n419,316\n| Gross:\n$59.74M\n",(1987),"\nAction, Adventure, Horror",\n\n7.8\n
698,\n699.\nFerris Bueller's Day Off\n(1986)\n,103 min,\n61 \n Metascore\n,"\nVotes:\n355,415\n| Gross:\n$70.14M\n",(1986),\nComedy,\n\n7.8\n
699,\n700.\nThe Breakfast Club\n(1985)\n,97 min,\n66 \n Metascore\n,"\nVotes:\n394,683\n| Gross:\n$45.88M\n",(1985),"\nComedy, Drama",\n\n7.8\n

### Cleansing

In [6]:
movie['Ratings']=movie['Ratings'].apply(lambda x:re.search('\d+\.?\d+',x).group()).astype(float)

In [7]:
movie['Time_mnts']=movie['Time_mnts'].apply(lambda x:re.search('\d+',x).group()).astype(int)

In [8]:
movie['Release_Year']=movie['Release_Year'].apply(lambda x:re.search('\d+',x).group()).astype(int)

In [9]:
movie['Movie_type']=movie['Movie_type'].apply(lambda x:re.search('\s\D+\,?\D+\,?\D+',x).group().replace('\n',''))

In [10]:
movie['Votes']=movie['Source'].apply(lambda x:re.search('\d+\,?\d+\,?\d+',x).group().replace(',','')).astype(int)

In [11]:
movie

,Movie_Name,Time_mnts,Metascore,Source,Release_Year,Movie_type,Ratings,Votes
0,\n1.\nThe Shawshank Redemption\n(1994)\n,142,\n81 \n Metascore\n,"\nVotes:\n2,638,889\n| Gross:\n$28.34M\n| Top ...",1994,Drama,9.3,2638889
1,\n2.\nThe Godfather\n(1972)\n,175,\n100 \n Metascore\n,"\nVotes:\n1,829,116\n| Gross:\n$134.97M\n| Top...",1972,"Crime, Drama",9.2,1829116
2,\n3.\nRocketry: The Nambi Effect\n(2022)\n,157,NaN,"\nVotes:\n43,780\n",2022,"Biography, Drama",9.0,43780
3,\n4.\nThe Dark Knight\n(2008)\n,152,\n84 \n Metascore\n,"\nVotes:\n2,610,455\n| Gross:\n$534.86M\n| Top...",2008,"Action, Crime, Drama",9.0,2610455
4,\n5.\nThe Lord of the Rings: The Return of the...,201,\n94 \n Metascore\n,"\nVotes:\n1,814,282\n| Gross:\n$377.85M\n| Top...",2003,"Action, Adventure, Drama",9.0,1814282
...,...,...,...,...,...,...,...,...
695,\n696.\nBack to the Future Part II\n(1989)\n,108,\n57 \n Metascore\n,"\nVotes:\n526,960\n| Gross:\n$118.50M\n",1989,"Adventure, Comedy, Sci-Fi",7.8,526960
696,\n697.\nMississippi Burning\n(1988)\n,128,\n65 \n Metascore\n,"\nVotes:\n100,717\n| Gross:\n$34.60M\n",1988,"Crime, Drama, History",7.8,100717
697,\n698.\nPredator\n(1987)\n,107,\n46 \n Metascore\n,"\nVotes:\n419,316\n| Gross:\n$59.74M\n",1987,"Action, Adventure, Horror",7.8,419316
698,\n699.\nFerris Bueller's Day Off\n(1986)\n,103,\n61 \n Metascore\n,"\nVotes:\n355,415\n| Gross:\n$70.14M\n",1986,Comedy,7.8,355415
699,\n700.\nThe Breakfast Club\n(1985)\n,97,\n66 \n Metascore\n,"\nVotes:\n394,683\n| Gross:\n$45.88M\n",1985,"Comedy, Drama",7.8,394683

In [12]:
movie['Trail_9']=movie['Source'].apply(lambda x:re.findall('\d+\.?\d+M',x))

In [13]:
movie['Gross']=movie['Trail_9'].apply(lambda x: np.nan if len(x)==0 else x)

In [14]:
movie.drop('Trail_9',axis=1,inplace=True)

In [15]:
movie.drop('Source',axis=1,inplace=True)

In [16]:
movie['Movie_Name']=movie['Movie_Name'].apply(lambda x:re.search('\s\D+',x).group().replace('\n','').replace('(',''))

In [17]:
movie

,Movie_Name,Time_mnts,Metascore,Release_Year,Movie_type,Ratings,Votes,Gross
0,The Shawshank Redemption,142,\n81 \n Metascore\n,1994,Drama,9.3,2638889,[28.34M]
1,The Godfather,175,\n100 \n Metascore\n,1972,"Crime, Drama",9.2,1829116,[134.97M]
2,Rocketry: The Nambi Effect,157,NaN,2022,"Biography, Drama",9.0,43780,NaN
3,The Dark Knight,152,\n84 \n Metascore\n,2008,"Action, Crime, Drama",9.0,2610455,[534.86M]
4,The Lord of the Rings: The Return of the King,201,\n94 \n Metascore\n,2003,"Action, Adventure, Drama",9.0,1814282,[377.85M]
...,...,...,...,...,...,...,...,...
695,Back to the Future Part II,108,\n57 \n Metascore\n,1989,"Adventure, Comedy, Sci-Fi",7.8,526960,[118.50M]
696,Mississippi Burning,128,\n65 \n Metascore\n,1988,"Crime, Drama, History",7.8,100717,[34.60M]
697,Predator,107,\n46 \n Metascore\n,1987,"Action, Adventure, Horror",7.8,419316,[59.74M]
698,Ferris Bueller's Day Off,103,\n61 \n Metascore\n,1986,Comedy,7.8,355415,[70.14M]
699,The Breakfast Club,97,\n66 \n Metascore\n,1985,"Comedy, Drama",7.8,394683,[45.88M]

In [18]:
movie.dropna(inplace=True)

In [19]:
movie['Metascore']=movie['Metascore'].apply(lambda x:re.search('\d+',x).group()).astype(int)

In [20]:
movie

,Movie_Name,Time_mnts,Metascore,Release_Year,Movie_type,Ratings,Votes,Gross
0,The Shawshank Redemption,142,81,1994,Drama,9.3,2638889,[28.34M]
1,The Godfather,175,100,1972,"Crime, Drama",9.2,1829116,[134.97M]
3,The Dark Knight,152,84,2008,"Action, Crime, Drama",9.0,2610455,[534.86M]
4,The Lord of the Rings: The Return of the King,201,94,2003,"Action, Adventure, Drama",9.0,1814282,[377.85M]
5,Schindler's List,195,94,1993,"Biography, Drama, History",9.0,1338094,[96.90M]
...,...,...,...,...,...,...,...,...
695,Back to the Future Part II,108,57,1989,"Adventure, Comedy, Sci-Fi",7.8,526960,[118.50M]
696,Mississippi Burning,128,65,1988,"Crime, Drama, History",7.8,100717,[34.60M]
697,Predator,107,46,1987,"Action, Adventure, Horror",7.8,419316,[59.74M]
698,Ferris Bueller's Day Off,103,61,1986,Comedy,7.8,355415,[70.14M]
699,The Breakfast Club,97,66,1985,"Comedy, Drama",7.8,394683,[45.88M]

In [21]:
movie=movie.reindex(columns=['Movie_Name','Release_Year','Time_mnts','Movie_type','Ratings','Metascore','Votes','Gross'])

In [22]:
movie

,Movie_Name,Release_Year,Time_mnts,Movie_type,Ratings,Metascore,Votes,Gross
0,The Shawshank Redemption,1994,142,Drama,9.3,81,2638889,[28.34M]
1,The Godfather,1972,175,"Crime, Drama",9.2,100,1829116,[134.97M]
3,The Dark Knight,2008,152,"Action, Crime, Drama",9.0,84,2610455,[534.86M]
4,The Lord of the Rings: The Return of the King,2003,201,"Action, Adventure, Drama",9.0,94,1814282,[377.85M]
5,Schindler's List,1993,195,"Biography, Drama, History",9.0,94,1338094,[96.90M]
...,...,...,...,...,...,...,...,...
695,Back to the Future Part II,1989,108,"Adventure, Comedy, Sci-Fi",7.8,57,526960,[118.50M]
696,Mississippi Burning,1988,128,"Crime, Drama, History",7.8,65,100717,[34.60M]
697,Predator,1987,107,"Action, Adventure, Horror",7.8,46,419316,[59.74M]
698,Ferris Bueller's Day Off,1986,103,Comedy,7.8,61,355415,[70.14M]
699,The Breakfast Club,1985,97,"Comedy, Drama",7.8,66,394683,[45.88M]

In [23]:
movie['Gross']=movie.apply(lambda x: pd.Series(x['Gross']),axis=1).stack().reset_index(level=1, drop=True)

In [24]:
movie['Gross_$']=movie.Gross.apply(lambda x: float(x.strip('M'))*1000000).astype(int)

In [25]:
movie.drop('Gross',axis=1,inplace=True)

### Final Data after cleaning

In [26]:
movie

,Movie_Name,Release_Year,Time_mnts,Movie_type,Ratings,Metascore,Votes,Gross_$
0,The Shawshank Redemption,1994,142,Drama,9.3,81,2638889,28340000
1,The Godfather,1972,175,"Crime, Drama",9.2,100,1829116,134970000
3,The Dark Knight,2008,152,"Action, Crime, Drama",9.0,84,2610455,534860000
4,The Lord of the Rings: The Return of the King,2003,201,"Action, Adventure, Drama",9.0,94,1814282,377850000
5,Schindler's List,1993,195,"Biography, Drama, History",9.0,94,1338094,96900000
...,...,...,...,...,...,...,...,...
695,Back to the Future Part II,1989,108,"Adventure, Comedy, Sci-Fi",7.8,57,526960,118500000
696,Mississippi Burning,1988,128,"Crime, Drama, History",7.8,65,100717,34600000
697,Predator,1987,107,"Action, Adventure, Horror",7.8,46,419316,59740000
698,Ferris Bueller's Day Off,1986,103,Comedy,7.8,61,355415,70140000
699,The Breakfast Club,1985,97,"Comedy, Drama",7.8,66,394683,45880000

In [27]:
#movie=movie.to_csv(r'C:\Users\Moses\Downloads\data.csv\IDMB_webscrap_Dataset.csv')

In [28]:
movie=pd.read_csv(r'C:\Users\Moses\Downloads\data.csv\IDMB_webscrap_Dataset.csv')

In [29]:
movie

,Unnamed: 0,Movie_Name,Release_Year,Time_mnts,Movie_type,Ratings,Metascore,Votes,Gross_$
0,0,The Shawshank Redemption,1994,142,Drama,9.3,81,2638889,28340000
1,1,The Godfather,1972,175,"Crime, Drama",9.2,100,1829116,134970000
2,3,The Dark Knight,2008,152,"Action, Crime, Drama",9.0,84,2610455,534860000
3,4,The Lord of the Rings: The Return of the King,2003,201,"Action, Adventure, Drama",9.0,94,1814282,377850000
4,5,Schindler's List,1993,195,"Biography, Drama, History",9.0,94,1338094,96900000
...,...,...,...,...,...,...,...,...,...
489,695,Back to the Future Part II,1989,108,"Adventure, Comedy, Sci-Fi",7.8,57,526960,118500000
490,696,Mississippi Burning,1988,128,"Crime, Drama, History",7.8,65,100717,34600000
491,697,Predator,1987,107,"Action, Adventure, Horror",7.8,46,419316,59740000
492,698,Ferris Bueller's Day Off,1986,103,Comedy,7.8,61,355415,70140000
493,699,The Breakfast Club,1985,97,"Comedy, Drama",7.8,66,394683,45880000

In [123]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    494 non-null    int64
 1   Movie_Name    492 non-null    object
 2   Release_Year  494 non-null    int64
 3   Time_mnts     494 non-null    int64
 4   Movie_type    494 non-null    object
 5   Ratings       494 non-null    float64
 6   Metascore     494 non-null    int64
 7   Votes         494 non-null    int64
 8   Gross         494 non-null    object
 9   Gross_$       494 non-null    int64
dtypes: float64(1), int64(6), object(3)
memory usage: 38.7+ KB